/**
 * You can override the default Infima variables here.
 * Note: this is not a complete list of --ifm- variables.
 */
:root {
  --ifm-font-size-base: 16px;
  --ifm-color-primary: #b263f9;
  --ifm-color-primary-dark: #a141f8;
  --ifm-color-primary-darker: #9931f7;
  --ifm-color-primary-darkest: #8009eb;
  --ifm-color-primary-light: #c385fa;
  --ifm-color-primary-lighter: #cb95fb;
  --ifm-color-primary-lightest: #e4c8fd;
  --ifm-navbar-background-color: var(--ifm-color-primary);
  --ifm-navbar-link-color: #fff;
  --ifm-navbar-link-hover-color: #fff;
  --ifm-navbar-height: 3.2rem;
  --ifm-code-font-size: 14px;
}

.navbar__brand {
  font-size: 20px;
}

.menu > .menu__list > .menu__list-item > .menu__link {
  color: #000;
}

.menu .menu__list-item {
  margin: 0.15rem 0;
}

.toggleNav h2 i {
  display: none;
}

details {
  background: #f8f8f8;
  text-align: center;
  padding: 10px;
}

details > img {
  margin: 10px 0;
}

audio {
  min-width: 500px;
}

blockquote {
  background: none;
}

.prism-code {
  position: relative;
}

.prism-code > button {
  position: absolute;
  bottom: 1.25rem;
  right: 1.5rem;
}
